@import "/styles/globals.css";

.container {
  transition: "0.5s ease";
}

.logo {
  width: 120px;
  height: 30px;
}

.navLinksContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrolled {
  width: "80%";
  padding: "0px 60px 0 0";
  position: "fixed";
  top: 0;
  background-color: "rgb(0 0 0 / 90%)";
  z-index: 121;
}

.navLinks {
  margin: 0 15px;
  font-size: 0.95rem;
  font-weight: bold;
  color: var(--gray);
  cursor: pointer;
}
.navLinks:hover {
  color: var(--white);
}

.info {
  max-width: 110px;
  height: auto;
  margin: 0 15px;
}

.bottomArrow {
  position: absolute;
  top: 40px;
  left: -40px;
  height: 55px;
}

.socialLinksContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.mobileMenu {
  display: none;
}

.iconImage {
  height: 40px;
  margin: 0 5px;
}

.iconContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.socialLinks {
  margin: 0 10px;
}

.rightButton {
  margin-top: 40px;
  margin-left: 20px;
  width: 140px;
  height: "auto";
}

.rightButtonContainer {
  cursor: pointer;
}

.keybaseIcon {
  height: 60px;
}

@media (max-width: 1270px) {
  .info {
    display: none;
  }
}

@media (max-width: 1000px) {
  .desktopContainer {
    display: none;
  }
  .mobileMenu {
    display: block;
  }
}
