.title {
  font-size: 3.8rem;
  font-weight: bold;
  color: #fff;
  line-height: 1.1;
}

.desc {
  margin-right: 20px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  line-height: 1.7;
}

.image {
  width: 390px;
  height: auto;
  margin-top: 20px;
}

.comingSoon {
  text-align: center;
  color: white;
  font-size: 2.9rem;
  margin-bottom: 0;
  font-weight: bold;
}
.exploreBtn {
  width: 230px;
  height: "auto";
  cursor: pointer;
}

.discover {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.05rem;
  font-weight: 600;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(270deg);
  cursor: pointer;
}

@media (max-width: 991px) {
  .title {
    text-align: center;
  }

  .desc {
    text-align: center;
  }

  .discover {
    display: none;
  }
}

@media (max-width: 522px) {
  .comingSoon {
    font-size: 2.2rem;
  }
}

@media (max-width: 470px) {
  .image {
    width: 320px;
    margin-top: 20px;
  }
}

@media (max-width: 355px) {
  .image {
    width: 280px;
    margin-top: 20px;
  }
}
@media (max-width: 330px) {
  .image {
    width: 230px;
    margin-top: 20px;
  }
  .title {
    font-size: 3.5rem;
  }
}
