html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

:root {
  --red: #663e3e;
  --white: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--white);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}

* {
  box-sizing: border-box;
}

.ant-timeline-item-tail {
  position: absolute;
  top: 10px;
  left: 4px;
  height: -moz-calc(100% - 10px);
  height: calc(100% - 10px);
  border-left: 2px solid #ff0000;
}

.ant-timeline-item-head {
  background-color: transparent;
}
