@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-SemiBold.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Bold.ttf");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}

html,
body {
  padding: 0;
  font-family: "Gilroy", sans-serif;
}

:root {
  --red: #663e3e;
  --white: #ffffff;
  --gray: #838383;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--white);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}

* {
  box-sizing: border-box;
}

.ant-timeline-item-tail {
  position: absolute;
  top: 10px;
  left: 4px;
  height: -moz-calc(100% - 10px);
  height: calc(100% - 10px);
  border-left: 2px solid #ff0000;
}

.ant-timeline-item-head {
  background-color: transparent;
}

.vertical-timeline-element-icon {
  box-shadow: none;
}

.vertical-timeline::before {
  background-color: #ff0000;
}

.vertical-timeline-element-icon.bounce-in {
  display: grid;
  justify-content: center;
  align-content: center;
}
