.container {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}

.title {
  position: relative;
  font-size: 3.5rem;
  color: red;
}

.titleImage {
  position: absolute;
  width: 120px;
  top: -13px;
  left: -60px;
}

.textIcon {
  position: relative;
}

.textIcon::before {
  content: "    ";
  background-image: url(/images/about/your.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 35px 60px;
  position: absolute;
  top: -36px;
  left: -26px;
}
.securityWord {
  position: relative;
}

.securityWord::before {
  content: "    ";
  background-image: url(/images/about/money.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 29px 55px;
  position: absolute;
  top: -24px;
  left: -9px;
}

.intelligenceWord {
  position: relative;
}
.intelligenceWord::before {
  content: "    ";
  background-image: url(/images/about/security.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 29px 55px;
  position: absolute;
  top: -25px;
  left: -9px;
}

.evolutionWord {
  position: relative;
}
.evolutionWord::before {
  content: "    ";
  background-image: url(/images/about/revolution.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 27px 55px;
  position: absolute;
  top: -23px;
  left: -9px;
}
.aboutDesc {
  position: relative;
  color: #7e7e7e;
  font-size: 1.3rem;
}

.image {
  width: 305px;
  height: auto;
}

@media (min-width: 992px) and (max-width: 1058px) {
  .textIcon::before {
    top: 0px;
    left: -523px;
  }
}

@media (min-width: 859px) and (max-width: 896px) {
  .intelligenceWord::before {
    top: 5px;
    left: -619px;
  }
}
@media (max-width: 470px) {
  .image {
    width: 320px;
    margin-top: 20px;
  }
}

@media (max-width: 355px) {
  .image {
    width: 280px;
    margin-top: 20px;
  }
}
@media (max-width: 330px) {
  .image {
    width: 230px;
    margin-top: 20px;
  }
}
